<!DOCTYPE html>
<html>
    <head>
        <title> Demo 3</title>
    </head>
    <body>
        <% if (logged) { %>

            <h1> User is logged in</h1>

        <% } else { %>

            <h1> User is not logged in </h1>

        <% } %>
    </body>
</html>