<!DOCTYPE html>
<html>
    <head>
        <title> Demo 3</title>
    </head>
    <body>

        <h1> At QWeb we use </h1>

        <ul>
        <% stack.forEach(function(tech) { %>

            <li> <%=tech%> </li>

        <% }); %>
        </ul>

        <h2> and our brains... </h2>
    </body>
</html>